name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:

  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6

  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        go-version: ['1.20', oldstable, stable]

    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Checkout
      uses: actions/checkout@v6

    - name: Install dbus
      run: sudo apt-get update && sudo apt-get install dbus dbus-x11

    - name: Build
      run: go build -race -v ./...

    - name: Test
      run: go test -race -v ./...

  codespell:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: codespell-project/actions-codespell@v2

  all-done:
    runs-on: ububtu-24.04
    needs:
      - lint
      - test
      - codespell
    steps:
    - run: echo "All jobs completed"
