name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.50

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.16, 1.17, 1.18, 1.19]

    steps:

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}

    - name: Checkout
      uses: actions/checkout@v3

    - name: Install dbus
      run: sudo apt-get update && sudo apt-get install dbus dbus-x11

    - name: Build
      run: go build -race -v ./...

    - name: Test
      run: go test -race -v ./...

  codespell:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - uses: codespell-project/actions-codespell@master
